/* CSS (assets/css/styles.css) */
:root {
  --font-family: "Montserrat", sans-serif;
  --primary-color: #000;
  --secondary-color: #ff7235;
  --background-color: #fff;
  --transition: 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

  nav ul li {
  font-size: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.nav-link, .logo a {
  color: var(--primary-color);
  /* text-transform: uppercase; */
  transition: var(--transition);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5rem 2rem 2rem;
  text-align: center;
}

.hero-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 4 / 5;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 5rem;
}

.hero h1 {
  color: var(--primary-color);
  font-weight: 700;
  text-align: justify;
}

.hero h2 {
  color: #4A4A4A;
  font-weight: 255;
}

.bio-title h1 {
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
}

.bio-title h2 {
  color: #4A4A4A;
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
}

.projects {
  padding: 4rem 2rem;
  text-align: center;
}

.projects-name  {
  margin: 3rem 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.project-image {
  width: 100%;
  max-width: 360px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project-image:hover {
  transform: scale(1.05);
}

.about-me, .skills, .contact {
  padding: 4rem 2rem;
  text-align: center;
}

.about-me {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.about-me h2 {
  margin: 3rem 0;
  font-weight: 700;
}

.about-me p {
  margin-top: 2rem;
  color: #4A4A4A;
  line-height: 1.6;
  font-weight: 400;
}

.skills {
  padding: 4rem 2rem;
  text-align: center;
}

.skills-header {
  margin: 4rem 0;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2.25rem;
}

.icon {
  width: 100px;
  height: auto;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}


footer {
  color: #4A4A4A;
  padding: 2rem;
  background-color: var(--background-color);
  text-align: center;
}

/* Other Styles */

/* Utilities */
.section-divider {
  display: block;
  margin: 15rem auto;
  max-width: 50px;
  height: auto;
  opacity: 0.8;
}

.icon-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 1px 5px var(primary-shadow);
  padding: 20px;
  margin: 15px;
  transition: box-shadow 0.3s, ease-in-out;
}

.project-card:hover {
  box-shadow: 5px 5px 15px var(--primary-shadow);
}

.scroll-up {
  position: fixed; 
  right: 1%;
  bottom: 1%;
  cursor: pointer;
}

.up-arrow {
  width: 1.85rem;
  height: 2rem;
}

@media (max-width: 768px) {
  .section-divider {
    max-width: 35px;
    margin: 2rem auto;
  }

  .hero {
    flex-direction: column;
    gap: 1rem;
  }

  .hero h2 {
    color: #4A4A4A;
  }

  .hero-img {
    margin-top: 3rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .navigation {
    display: none;
  }

  .burger-menu {
    display: block;
    color: var(--primary-color)
  }
}

@media (max-width: 480px) {
  .section-divider {
    max-width: 25px;
    margin: 1.5rem auto;
  }

  .bio-title {
    font-size: 2.25rem;
  }

  .hero h2 {
    color: #4A4A4A;
  }

  .project-image {
    max-width: 100%;
  }

}